<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <title>Evaluate a news article or text with Aylient NLP</title>
    </head>

    <body>
        <header>
            <div class="">
             Evaluate a News Article with NLP
            </div>
        </header>

        <main>

            <h2>Insert a URL to see how NLP works:</h2>
    

            <section class="errors">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <div id="error"></div>
            </section> 


            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="url" name="test-url" value=""  placeholder="https:...">
                    <input type="submit" name="" value="Check" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="url-results">
                    <ul>
                        <li>
                            <h3>Text Polarity:</h3>
                            <p id="polarity"></p>
                            <h4>Confidence: </h4>
                            <p id="polarity_confidence"></p>
                        </li>
    
                        <li>
                            <h3>Text Subjectivity:</h3>
                            <p id="subjectivity"></p>
                            <h4>Confidence: </h4>
                            <p id="subjectivity_confidence"></p>
                        </li>
    
                        <h3>Text Excerpt:</h3>
                        <p id="excerpt"></p>
                    </ul>
                </section>
        </main>

    </body>
</html>
