@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
body{
    margin: 0px;
}
header {
    margin: 0;
    padding: 60px;
    text-align: center;
    background-color:  rgba(25, 244, 86, 0.877);
    font-size: 30px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;

}
