.errors {
    padding: 20px;
    background-color: #e6d53f; 
    margin: 20px;
    display: none;
    border-radius: 6px;
    font-weight: 700;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
  }
  